body {
    font-family: 'Sriracha', cursive;
    background-image: url('images/laptop-burning.jpg');
    background-repeat: none;
  }

.role-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.kick {
    width: 300px;
}

#userclass-image {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    padding-top: 15px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: whitesmoke;
}

#email, #password {
    width: 50%;

}

.login-submit, .create-submit {
    font-size: 24px;
}

.container, .jumbotron {
    background-color: whitesmoke;
}

.login {
    padding: 15px;
}

#attack-button {
    position: fixed;
    top: 100px;
    left: 370px;
    height: 100px;
    width: 100px;
}

#player-image {
    max-height: 300px;
    margin: auto;
}

/* trying to make the game responsive on a phone in landscape and portrait mode - needs more work*/

@media (min-width: 375px) and (orientation:portrait) {
    .user-card {
         float: none;
         width: 300px;
         justify-content: center;   
    }
    .enemy-card {
        float: none;
        width: 300px;
        justify-content: center;   
    }
    #userclass-image {
        width: 100px;
    }
}