body {
    font-family: 'Sriracha', cursive;
    background-color: black;
    margin-top: 166px;
}

.role-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.kick {
    width: 200px;
}

#userclass-image {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    padding-top: 15px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: whitesmoke;
}

.char-image-select {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.char-card {
    max-width: 250px;
    margin: 20px;
    padding-top: 15px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: whitesmoke;
}

.stats-div {
    display: inline-block;
}

.char-stats {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.char-description {
    clear: both;
    text-align: center;
    font-size: 16px;
}

#email, #password {
    width: 50%;
}

.login-submit, .create-submit {
    font-size: 24px;
}

.container, .jumbotron {
    background-color: whitesmoke;
}

#board-container {
    background-image: url("images/classBackground.jpg");
    opacity: 75%;
    background-size: 100%;
}

.login {
    padding: 15px;
}

#attackDiv {
    position: relative;
    z-index: 3;
}

#attack-pow {
    width: 75%;
    position: relative;
    z-index: 100;
    left: 37px;
    top: 94px;
}

#player-image {
    max-height: 300px;
    margin: auto;
}

.attack-image-2, .attack-image-1 {
    width: 50%;
    float: left;
    position: relative;
    z-index: 100;
}

@media (max-width: 992px) {
    body {
        max-height: 100%;
        width: auto;
        margin-top: 115px;
    }
    .card {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #userclass-image {
        height: 75px;
        width: auto;
    }
}

@media (max-width: 813px) and (orientation:landscape) {
    body {
        max-height: 90%;
        width: auto;
        margin-top: 0;
    }
    .card {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    #userclass-image {
        height: 95px;
        width: auto;
    }
    .card-header {
        margin-top: 0px;
        font-size: 95%;
    }
    .modal-header {
        padding: 0;
        padding-left: 15px;
    }
    .description {
        font-size: 80%;
    }
    #player-image {
        max-height: 200px;
        margin: auto;
    }
    .round-message {
        font-size: 17px;
    }
}

@media (max-width: 813px) and (orientation:portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}